<h1>You can find any character here.</h1>

{{#if err}}
<h1>{{err}}</h1>
{{else}}
<ul class="lists">
    {{#each data}}
    <li>{{@key}} : {{this}}</li>
    <br>
    {{/each}}
</ul>
{{/if}}
<form action="/characters" method="post">
    <label for="character">Character: </label>
    <input type="text" name="character">
    <br>
    <button class="button">Submit</button></p>
</form>