<h1>{{{title}}}</h1>
<form action="/login" method="POST">
    {{!-- <input type="text" placeholder="username" name="name"> --}}
    <input type="text" placeholder="email" name="email">
    <input type="password" placeholder="password" name="password">
    <input type="submit" value"send">
</form>