<h2>Please complete the form to signup.</h2>

<form action="/signup" method="POST">
    {{!-- <label for="name"name: >Hello</label> --}}
    <input id="input" type="text" placeholder="username" name="name"><br />
    <input id="input" type="text" placeholder="email" name="email"><br />
    <input id="input" type="password" placeholder="password" name="password"><br />
    <input class="button" type="submit" value="Sign up">
</form>

<p>{{name}}</p>
<p>{{errorMessage}}</p>