/* li {
    list-style-type: none;
    text-align: center;
    display: inline;
} */

@font-face {
    font-family: harryPotter;
    src: url(./fonts/HARRYP.TTF);
}

body {
    margin: 0;
}

h1,
h2 {
    font-family: harryPotter;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #9c1203;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #e3a000;
}

.lists {
    list-style-type: none;
    margin: 0;
    /* margin-left: 1vw; */
    padding: 0;
    overflow: hidden;
    background-color: white;
}

.lists a {
    display: none;

}

.button {
    background-color: #9c1203;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}

input[type=text],
input[type=password] {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.hufflepuff {
    color: #e3a000;
}

.ravenclaw {
    color: #00165e;
}

.gryffindor {
    color: #9c1203;
}

.slytherin {
    color: #033807;
}